# Eclipse stuff
.settings
.project

# system stuff
Thumbs.db
.DS_Store
.~lock*


# Python/flask stuff
env/
log/
*.pyc
*.swp
config.py

# Minified text
app/static/.webassets-cache/
app/static/gen/


# ignore db stuff
APP.db
DB_REPO/
migrations/
