# Currently only google is supported

from authomatic.providers import oauth2, oauth1, openid

CONFIG = {
    'google': {
        'class_': oauth2.Google,
        'consumer_key': 'you need the actual oauthclientID here',
        'consumer_secret': 'and you need the actual client secret here',
        'scope':  oauth2.Google.user_info_scope,
    },
    # we can add more auth methods here as long as we add login buttons for them...
}

