.gearText {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    bottom: 0px;
    position: static;
}

.playerGearPaperdoll {
    clear: left;
    display: block;
    height: auto;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.gearSlot {
	background:none repeat scroll 0 0 #2d2d2d;
	box-shadow:0 0 15px #606060 inset;
	width:45px;
	height:45px;
	margin-bottom:5px;
}

.gearSlot.chest, .gearSlot.mainHand, .gearSlot.legs, .gearSlot.feet, .gearSlot.miningGear {
	position:relative;
	margin-bottom:5px;
}

.gearSlot.secondHand {
	display:none;
}
.gearSlot.head img, .gearSlot.chest img, .gearSlot.mainHand img, .gearSlot.miningGear img, .gearSlot.legs img, .gearSlot.feet img {
	height: 40px;
	margin-left:auto;
	margin-top: 3px;
	width: 40px;
}

.gearSlot.head div, .gearSlot.chest div, .gearSlot.mainHand div, .gearSlot.legs div, .gearSlot.feet div, .gearSlot.miningGear div {
    display:none;
}