.inventoryPanel {
	margin: 1px 15px;
}

.inventoryFilter {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    line-height: 30px;
    padding-top: 10px;
    text-transform:capitalize;
}
.planetInventoryFilter {
    display: block;
    height: 20px;
    line-height: 30px;
    margin: 10px auto;
    padding-bottom: 10px;
    text-transform: capitalize;
    vertical-align: middle;
    width: 95%;
}
.inventoryContentPlanet, .inventoryContentPlayer {
    display: block;
    height: 436px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: inherit;
    vertical-align: middle;
    width: 380px;
}