<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Multiverse Miner - Beta Sign Up</title>

    <link href='//fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic' rel='stylesheet' type='text/css'>


    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body ng-app="MultiverseMiner">
<div class="row game-access v-center">
    <div class="large-7 small-centered columns end">
        <div class="signin-form">
            <div class="row">
                <div class="large-12 columns">
                    <img class="logo" src="{{ url_for('static', filename="public/img/logo_placeholder.png") }}">
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <p>Welcome explorer, <br>
                        Multiverse Miner is a unique game; it's part sim, part incremental, part rpg. The object of the
                        game is to mine resources from planets, while defending yourself against hostile enemies; which
                        include players and NPCs. To provide protection, and advance, you must craft items, weapons and
                        armor from recipes which closely mirror their real world counterparts. Fly to the planets, and
                        procedurally created alien planets, conquer or be conquered. The key to progressing is
                        developing a plan to accrue elements, while not leaving yourself or your home planet vulnerable.
                    </p>

                    <div class="row">
                        <div class="large-12 columns">
                            <ul class="small-block-grid-3">
                                <li><img src="{{ url_for('static', filename="public/img/preview/mm_v2_thumb.jpg") }}"></li>
                                <li><img
                                        src="{{ url_for('static', filename="public/img/preview/hero_window_opt_thumb.jpg") }}">
                                </li>
                                <li><img
                                        src="{{ url_for('static', filename="public/img/preview/crafting_window_opt_thumb.jpg") }}">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>How you play is completely up to you. PvE, PvP, trophy hunters, stockpilers; all are welcome to
                        enjoy the game.</p>

                </div>
                <div class="large-4 columns">
                    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
                        {{ form.hidden_tag() }}
                        <div class="name-field field">
                            <label>Name
                                {{ form.name }}
                            </label>
                            {% for error in form.name.errors %}
                                <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mail-field field">
                            <label>E-mail
                                {{ form.email }}
                            </label>
                            {% for error in form.email.errors %}
                                <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="row">
                            <div class="large-12 columns">
                                {% if signedup %}
                                    <label>You have sucessfully signed up for beta</label>
                                {% endif %}
                                <button type="submit" class="small button right" value="Register">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="large-12 columns">
            <ul class="foot-menu right inline-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Changelog</a></li>
            </ul>
        </div>
    </div>
</footer>
{#<script src="{{ url_for('static', filename="js/base.min.js") }}"></script>#}
</body>
</html>