html {
}
.body {
    background: url("assets/images/bg.png") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    color: #ffffff;
    padding-left: 0;
    position: static;
}
a {
    color: white;
    font-size: 12px;
    text-decoration: inherit;
}
.ui-menu {
	display: block;
	list-style: none outside none;
	min-width: 125px;
	padding: 5px 10px 10px;
}
.questionMark{
	content:url("assets/images/questions.png");
}
.lootFloating {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
    font-size: 18px;
}
.categoryContent {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.opaque {
    opacity: 0.7;
}
.craftEnabled {
    opacity: 1.0;
}
.craftDisabled {
    opacity: 0.4;
}
.logo {
    height: 33px;
    margin-right: 50px;
    max-width: 600px;
    left: auto;
    right: auto;
    position: static;
    overflow: hidden;
}
.screen {
    width: 100%;
    height: 100%;
}
.panelContent {
    background-color: rgba(125,125,125,.5);
    border: 1px solid #9b9b9b;
    height: 410px;
    width: 49%;
    float: left;
    display: block;
    position: relative;
}
.panelBottom {
    font-family: overpassregular,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    bottom: 8px;
    width: 99%;
	height:auto;
}
.panelBottomLeft {
    float: left;
    margin-left: 2px;
}
.panelBottomCenter {
    display: inline-block;
    margin: 0 auto;
}
.panelBottomRight {
    float: right;
    margin-right: 4px;
}
.hidden {
    display: none;
}
.combatText {
    height: 200;
    max-height: 200px;
    width: 300px;
    overflow: scroll;
}
.fightDialog {
    width: 300px;
}
.idk, .yes, .no {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    margin: 18px 0 0 20px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
}
.yes {
    background: none repeat scroll 0 0 rgba(71, 186, 255, 0.8);
}
.no {
    background: none repeat scroll 0 0 rgba(241, 118, 122, 0.8);
}
.idk {
    background: none repeat scroll 0 0 rgba(83, 83, 83, 0.8);
}
.minerStats {
    display: block;
    float: left;
    font-size: 14px;
    left: 87%;
    padding-left: 0;
    position: inherit;
    text-align: left;
    width: 49%;
    padding-left: 1%;
    padding-top: 2%;
}
.minerGearStats {
    display: block;
    float: right;
    font-size: 12px;
    position: absolute;
    right: 85px;
    text-align: left;
    top: 60px;
    width: 180px;
	padding-right:3px;
}
.statsContent {
    font-size: 12px;
    text-align: left;
    padding-right: 5px;
    height: 533px;
    overflow-x: hidden;
}
.statsContentPlayer {
    font-size: 12px;
    text-align: left;
    padding-right: 5px;
    height: 533px;
    width: 50%;
    overflow-x: hidden;
}
.craftingFilter {
	width:99%;
}