<h1>Multiverse Miner</h1>
<p>Dreams of exploring the universe are a remnant of the past.</p>
<hr>
<p>Since unlocking the true potential of the elements, wormholes have been created and mastered, space travel occurs at the speed of light, and the elements in the universe can be manipulated at your whim.</p>
<p>Fascinated in the advancements in geology, physics, and time-travel, you decide to pick up your pickaxe, build yourself a ship and explore the farthest reaches of the universe.</p>
<ul>
<li>Begin on earth. Mine resources, build a ship and explore the universe.</li>
<li>Mine elements, combine them, and craft powerful machines, weapons and more.</li>
<li>Fight enemies; space pirates, thieves, aliens and more await to steal your treasures.</li>
<li>Find artifacts, the most powerful and rare objects in the universe. Wield them to unlock powerful stat boosts and more.</li>
<li>Travel to every planet in the solar system; Each contains accurate amounts of the real elements found on the planet. </li>
</ul>
<p><a href="http://webchat.freenode.net?channels=%23multiverseminer&amp;uio=d4">Join us on IRC.</a></p>
<p><a href="http://multiverseminer.com">Play the game.</a></p>
<p><a href="http://reddit.com/r/multiverseminer">Visit our subreddit</a></p>
