<html>
<head>
	<link href="static/cs/MultiverseMiner.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="characterBox">
	<center>
		Coming soon - Select a class; Each class has special abilites and skills.
		<p />
		<table border="0" width="100%" class="characterTable">
			<tr>
				<th align="center"><img src="static/images/captainMain.png" class="captainBox" /><br>Captain</th>
				<th align="center"><img src="static/images/mercenaryMain.png" class="mercenaryBox" /><br>Mercenary</th>
				<th align="center"><img src="static/images/prospectorMain.png" class="prospectorBox" /><br>Prospector</th>
				<th align="center"><img src="static/images/pirateMain.png" class="pirateBox" /><br>Pirate</th>
			</tr>
		</table>
	</center>
</div>
</body>
</html>
