<div class="pop-window-toolbar">
	<div class="row">
		<div class="large-12 columns">
			<p class="player-class">Intergalactic Captain <span class="player-lvl">Lvl. 34</span></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="internal-section">
			<div class="row">
				<div class="player-stats clearfix">
					<div class="large-6 columns">
						<div class="stat-row clearfix">
							<span class="left">Accuracy</span><span class="right">4.15</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Attack Speed</span><span class="right">1.63</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Counter</span><span class="right">5.03</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Defense</span><span class="right">123.45</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Evasion</span><span class="right">4.76</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Health</span><span class="right">13.03</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Loot Luck</span><span class="right">6.75</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Perception</span><span class="right">5.03</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Regeneration</span><span class="right">5.33</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Scavenge Luk</span><span class="right">5.03</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Strength</span><span class="right">5.03</span>
						</div>
						<div class="stat-row clearfix">
							<span class="left">Total Power</span><span class="right">1005.03</span>
						</div>
					</div>

					<div class="large-6 columns">
						<div class="row">
							<div class="large-4 columns">
								<div id="head" class="inventory-socket"></div>
								<div id="shoulder" class="inventory-socket"></div>
								<div id="chest" class="inventory-socket"></div>
								<div id="legs" class="inventory-socket"></div>
								<div id="foot" class="inventory-socket"></div>
							</div>
							<div class="large-8 columns">
								<img src="./img/chars/captain_rev.png">
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<div id="main-hand" class="inventory-socket left"></div>
								<div class="inventory-socket left"></div>
								<div class="inventory-socket right"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="player-equipment">
				<div class="row">
					<div class="large-12 columns">
						<div class="storage-socket">
							<img class="game-item player-item" data-item-type="main-hand" src="./img/weapon/bronzeSword.png">
						</div>
						<div class="storage-socket">
						<img class="game-item player-item" data-item-type="chest" src="./img/armor/silverArmor.png">
						</div>
						<div class="storage-socket">
						<img class="game-item player-item" data-item-type="foot" src="./img/armor/silverBoots.png">
						</div>
						<div class="storage-socket">
						<img class="game-item player-item" data-item-type="head" src="./img/armor/silverHelmet.png">
						</div>
						<div class="storage-socket">
							<img class="game-item player-item" data-item-type="legs" src="./img/armor/silverPants.png">
						</div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
						<div class="storage-socket"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pop-window-footer">
	<div class="row">
		<div class="large-12 columns">
		</div>
	</div>
</div>