<div class="row">
	<div class="large-12 columns">
		<div class="internal-section">
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
			<div class="inventory-item"></div>
		</div>
	</div>
</div>