
{% extends "layout.html" %}


{% block content %}

{{ pagination.info|safe }}
{{ pagination.links|safe }}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for user in displaylist[(pagination.page-1)*(pagination.per_page):(pagination.page)*(pagination.per_page)] %}
      <tr>
        <td>{{ loop.index + (pagination.page-1)*(pagination.per_page) }}</td>
        <td>{{ user}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links|safe }}



{%endblock%}
