<div class="row">
	<div class="large-12 columns">
		<div class="internal-section">
			<div class="settings-stack">
				<h6 class="options-header">General settings</h6>
				<div class="switch-box clearfix">
					<div class="row">
						<div class="large-9 columns">
							<div class="switch-label left">Sounds</div>
						</div>
						<div class="large-3 columns">
							<div class="switch tiny right">
								<input id="soundsSwitch" type="checkbox" checked>
								<label for="soundsSwitch"></label>
							</div> 
						</div>
					</div>
				</div>  
				<div class="row">
					<div class="large-12 columns">
						<label>Language
							<select>
								<option value="en">English</option>
								<option value="de">Deutch</option>
								<option value="es">Espaniol</option>
							</select>
						</label>
					</div>
				</div>

				<div class="settings-stack">
					<h6 class="options-header">Notifications</h6>
					<div class="switch-box clearfix">
						<div class="row">
							<div class="large-9 columns">
								<div class="switch-label">Chat messages</div>
							</div>
							<div class="large-3 columns">
								<div class="right switch tiny">
									<input id="chatMessagesSwitch" type="checkbox" checked>
									<label for="chatMessagesSwitch"></label>
								</div>  
							</div>
						</div>
					</div> 
					<div class="switch-box clearfix">
						<div class="row">
							<div class="large-9 columns">
								<div class="switch-label left">Systems alarms</div>
							</div>
							<div class="large-3 columns">
								<div class="switch tiny right">
									<input id="systemAlarmsSwitch" type="checkbox" checked>
									<label for="systemAlarmsSwitch"></label>
								</div>  
							</div>
						</div>
					</div>
					<div class="switch-box clearfix">
						<div class="row">
							<div class="large-9 columns">
								<div class="switch-label left">Web<br>
									<p>Web-based notification via system messages and pop-ups</p>
								</div>
							</div>
							<div class="large-3 columns">
								<div class="switch tiny right">
									<input id="webNotifySwitch" type="checkbox" checked>
									<label for="webNotifySwitch"></label>
								</div>  
							</div>
						</div>
					</div>
					<div class="switch-box clearfix">
						<div class="row">
							<div class="large-9 columns">
								<div class="switch-label left">E-mail<br>
									<p>Notifications about recent in-game events will be forwared to your e-mail</p>
								</div>
							</div>
							<div class="large-3 columns">
								<div class="switch tiny right">
									<input id="emailNotifySwitch" type="checkbox" checked>
									<label for="emailNotifySwitch"></label>
								</div>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>