<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Multiverse Miner: An incremental sci-fi RPG game.</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="static/images/favicon.ico">
{% assets "css_all" %}
	<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}
</head>

<body class="body">
    <!--Links to the login handler-->
    Login with <a href="login/google">Google</a>.<br />


{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51066723-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
